
.container {
    
    display: flex;
    flex-direction: column;
   
    
    
   
    
}
.header1 {
            background-color: black;
            padding: 5px;
            block-size: 100px;
            border-radius: 4%;
            width: 400px;
}
.header2 {
           background-color: azure;
            padding: 5px;
            block-size: 250px;
            width: 400px;
           
}

.logo {
            width: 100px;
            height: 105px;
            border-radius:80%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 9pc;
            left: 60px;
            transform: translateY(-50%);
}

.Accept {
  
   padding: 5px;
   border-radius: 5px;
}
.Accept:hover {
   background-color: black;
}
.Reject {
     padding: 5px;
   border-radius: 5px;
   margin: 50px;
}
.Reject:hover {
     background-color: black;
} 
.left, .right {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    
}

